<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico')}}">
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Dashboard</h1>
        <iframe src="/notification" name="notification" height="300" width="300"></iframe>
        <iframe src="/scannetwork" name="scannetwork" height="300" width="300"></iframe>
        <iframe src="/shownodes" name="shownodes" height="300" width="600"></iframe>
        <iframe src="/showserver" name="showserver" height="300" width="400"></iframe>
        <iframe src="/waninfo" name="waninfo" height="300" width="400"></iframe>
        
    </body>
    
</html>