<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico')}}">
        <title>Notifications</title>
    </head>
    <body>
        <h1>Notifications</h1>
        {% for email in emails %}
        <li>{{ email[0] }}</li>
        {%endfor%}

        <form method="POST">
            <input type="text" name="email" />
            <input type="submit" value="Add email" />
        </form>
        <form method="GET" action="testnotification"">
            <input type="submit" value="Test notification"/>
        </form>
    </body>
</html>