<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>
<head>
  {% include 'head.html' %}
</head>

<body>
  <!-- Sidenav -->
  {% include 'sidenav.html' %}
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          {% include 'topnav.html' %}
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3>1. What is a Node</h3>
              <h4>Node is a device that is added to keep record of known devices.</h4>
              <br>
              <h3>2. What is Server</h3>
              <h4>Server is a node which is activily monitored to check the availability of resources. If server is down for unknown reason a notification will be sent to admin.</h4>
              <br>
              <h3>3. What is Wan Info</h3>
              <h4>It is the information regarding Internet connection (ISP).</h4>
              <br>
              <h3>4. What is Logs</h3>
              <h4>Every time the user logs in to the application an entry is made in logs.</h4>
              <br>
              <h3>5. What is Scan Network</h3>
              <h4>This feature will scan the entire network for devices and will provide list to the user giving him/her option to add the device to nodes.</h4>
              <br>
              <h3>6. What is Notification</h3>
              <h4>It contains list of email that will receive notificaiton or alerts.</h4>
              <br>
              <h3>7. What is RTT</h3>
              <h4>Round-trip time (RTT) is the duration in milliseconds (ms) it takes for a network request to go from a starting point to a destination and back again to the starting point.</h4>
              <br>
              
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
             2021 <a href="#" class="font-weight-bold ml-1" target="_blank">Drashti</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- Argon Scripts -->
  {% include 'argonscripts.html' %}
</body>

</html>