<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
</head>

<body>
  <!-- Sidenav -->
  {% include 'sidenav.html' %}
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          {% include 'topnav.html' %}
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">List of email that will receive notification alert</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Email</th>
                  </tr>
                </thead>
                <tbody class="list">
                  {% for email in emails %}
                  <tr>
                    <td>
                      <h4> {{ email[0] }}</h4>
                    </td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>

              <form method="POST">
                <input type="text" class="" name="email" placeholder="Add email" width="100">
                <input class="btn btn-primary btn-sm" type="submit" value="Add email" />
              </form>
              <br>
              <form method="GET" action="testnotification"">
                <input type="submit" value="Test notification" class="btn btn-primary"/>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
              &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1"
                target="_blank">Drashti</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- Argon Scripts -->
  {% include 'argonscripts.html' %}
</body>

</html>