<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
          <h2>Drashti</h2>
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/dashboard">
                <i class="ni ni-tv-2 text-default"></i>
                <span class="nav-link-text">Dashboard</span>
              </a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/scannetwork">
                <i class="ni ni-world text-default"></i>
                <span class="nav-link-text">Scan Network</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/showserver">
                <i class="ni ni-box-2 text-default"></i>
                <span class="nav-link-text">Servers</span>
              </a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shownodes">
                <i class="ni ni-tablet-button text-default"></i>
                <span class="nav-link-text">Nodes</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/showlogs">
                <i class="ni ni-money-coins text-default"></i>
                <span class="nav-link-text">Logs</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/waninfo">
                <i class="ni ni-planet text-default"></i>
                <span class="nav-link-text">Wan Info</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/notification">
                <i class="ni ni-email-83 text-default"></i>
                <span class="nav-link-text">Notifications</span>
              </a>
            </li>
          </ul>
          <!-- Divider -->
          <hr class="my-3">
          <!-- Heading -->
          <h6 class="navbar-heading p-0 text-muted">
            <span class="docs-normal">Help</span>
          </h6>
          <!-- Navigation -->
          <ul class="navbar-nav mb-md-3">
            <li class="nav-item">
              <a class="nav-link"
                href="https://demos.creative-tim.com/argon-dashboard/docs/getting-started/overview.html"
                target="_blank">
                <i class="ni ni-spaceship"></i>
                <span class="nav-link-text">FAQ</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/foundation/colors.html"
                target="_blank">
                <i class="ni ni-palette"></i>
                <span class="nav-link-text">Contact US</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>