<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>

<head>
  {% include 'head.html' %}
  <script src="{{ url_for('static',filename='waninfon.js')}}"></script>
</head>

<body>
  <!-- Sidenav -->
  {% include 'sidenav.html' %}
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          {% include 'topnav.html' %}
        </div>
      </div>
    </div>
    <style>
      table, th, td {
        padding-left: 50px;
        padding-right: 50px;
        /* text-align: center; */
      }
      table {
        border-spacing: 100px;
      }
      </style>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <table>
                <th></th>
                <th></th>
                <tbody id="info">
                </div>
                
              </table>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
               2021 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Drashti</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- Argon Scripts -->
  {% include 'argonscripts.html' %}
</body>

</html>